.btn {
  padding: 0.9rem 1.2rem;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  transition: all 0.3s;
  display: inline-block;
  border: none;
  cursor: pointer;
  font-family: inherit;
  text-align: center;
  line-height: 1;
}

.btn-primary {
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
  background: transparent;
  box-shadow: 0 2px 0 0 var(--primary-color-opacity);
}

.btn-primary:hover {
  transform: translateY(-2px);
  border-color: var(--primary-color-active);
  color: var(--primary-color-active);
}

.btn-secondary {
  background: transparent;
  color: #fff;
  border: 1px solid #9a9a9a;
}

.btn-secondary:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

